---
const { workshop } = Astro.props;
import { Image } from "astro:assets";
---

<a
  href={`/workshops/${workshop.id}`}
  class="group block overflow-hidden backdrop-sepia rounded-md"
>
  <Image
    src={workshop.data.thumbnail}
    alt={workshop.data.title}
    class="aspect-video w-full object-cover"
  />

  <div class="p-4">
    <h2 class="text-3xl mb-2">{workshop.data.title}</h2>
    <p class="text-gray-300 text-1xl">Guided by {workshop.data.instructor}</p>

    <div class="mt-2 text-sm">
      {workshop.data.date}
    </div>
  </div>
</a>
